/*------------------------------ <VARIABLES> ------------------------------*/

/*------------------------------ <DEFAULT FONT> ------------------------------*/
$fontfamily:"Montserrat";
/*------------------------------ </DEFAULT FONT> ------------------------------*/

/*------------------------------ <SCREENS> ------------------------------*/
$minwidth:320px;
$mw:1170;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
/*------------------------------ </SCREENS> ------------------------------*/

/*------------------------------ </VARIABLES> ------------------------------*/